/* The container */
.checkbox-container {
    padding-left: 37px;
    margin-bottom: 12px;

    input {
        height: 0;
        width: 0;
    }

    .checkmark {
        height: 22px;
        width: 22px;
    }

    input:checked~.checkmark {
        background-color: $primary !important;
        border: 1px solid $primary;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    input:checked~.checkmark:after {
        display: block;
    }

    .checkmark:after {
        left: 7px;
        top: 2px;
        width: 6px;
        height: 12px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
}

/* Button-like Checkboxes */
.checkbox-btn-main {
    margin-bottom: 11px;
    .checkbox-button {
       height:49px;
       width:76px;
       line-height:49px;
    }
    input[type="checkbox"]:checked+.checkbox-button {
        background-color: $primary !important;
        color: #fff !important;
        border:1px solid $primary !important;
    }
}

// delivary-details page
.form-checkbox-input {
    width: 22px;
    height: 22px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    border: 1px solid $primary;

    &[type=checkbox] {
        border-radius: 0.25em;
    }

    &::placeholder{
        color: $textSecondary;
        font-size: $fontSS;
    }

    &:active {
        filter: brightness(90%);
    }

    &:checked {
        background-color: $primary;
        border-color: $primary;
    }

    &:checked[type=checkbox] {
        background-image: url("../images/delivery-details/checked.svg");
        background-repeat: no-repeat;
        background-position: center center;
    }
}
.checkmark-2 {
    height: 15px;
    width: 15px;
    &:checked[type=checkbox] {
        background-image: url("../images/delivery-details/checked.svg");
        background-size: 8px 7px;
    }
}

.details-section{
    .form-section{
        .row {
            margin-left: -8px;
            margin-right: -8px;
    
            .cols {
                padding: 8px;
    
                @include media-breakpoint-up(xxl) {
    
                    &:nth-child(1),
                    &:nth-child(2) {
                        padding-top: 0;
                    }
    
                    &:last-child {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
    .select {
        cursor: pointer;
        position: relative;
        width: 100%;
        height: 100%;
        
        select {
            opacity: 0;
            visibility: hidden;
        }
        
        .custom-select {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            font-size: $fontSS;
            line-height: $smallLeading;
            font-family: 'Open Sans', sans-serif;
            color: $textSecondary;
            padding: 16px 24px;
            background: $smGray;
            border-radius: $primaryRadius;
            @include generate-transition(all, 0.2s, ease-in);

            &:after {
                content: "";
                width: 0;
                height: 0;
                border: 7px solid transparent;
                border-color: rgba($textSecondary, $alpha: 0.5) transparent transparent transparent;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                right: 24px;
                transform: rotateZ(0deg);
                transition: all 0.5s;
                transform-origin: 50% 25%;
            }

            &:active,
            &.active {
                color: $textSecondary;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:active:after,
            &.active:after {
                transform: rotateZ(180deg);
                transition: all 0.5s;
                transform-origin: 50% 25%;
            }
        }

        .select-options {
            max-height: 200px;
            font-size: $fontSS;
            line-height: $smallLeading;
            font-family: 'Open Sans', sans-serif;
            overflow-y: auto;
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            left: 0;
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: $smGray;
            border-bottom-left-radius: $primaryRadius;
            border-bottom-right-radius: $primaryRadius;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 24px;

            li {
                color: $textSecondary;
                margin: 0;
                padding: 12px 0;
                @include generate-transition(all, 0.15s, ease-in);
                padding-left: 15px;

                &:hover {
                    color: #424242;
                    background: $subGray;
                }

                &[rel="hide"] {
                    display: none;
                }
            }
        }
    }
}